/*
    --------------------------------------------------------------------------
    File: _clients.scss
    Description:
        Defines styles for client-related pages
    --------------------------------------------------------------------------
*/

// Client Search Page

#client-filter {
    padding: 15px;

    .row {
        margin-left: 0;

        > .columns {
            padding: 0;
        }
    }
}

#client-search {
    position: relative;

    input {
        width: 100%;
        padding: 5px 5px 5px 30px;
        @include border-all(1px, $colour-border-dark);
        border-radius: 4px;
    }

    button {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}

#client-refine {
    .columns {
        padding-left: 0;
    }

    select {
        padding: 5px;
        width: 100%;
        @include border-all(1px, $colour-border-dark);
        border-radius: 4px;
    }
}

.client-refine-result {
    width: 100%;
    padding-left: 15px;
}

.client-result {
    padding: 15px;
}

.client-result-info {
    @include border-right();
    padding-right: 15px;

    h3 {
        margin: 0;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 0.9em;
        padding-bottom: 15px;
        @include border-bottom();

        span {
            display: inline-block;
            font-size: 0.5em;
            font-weight: 500;
            color: #fff;
            background: $colour-main;
            padding: 5px;
            line-height: 0.9;
            vertical-align: middle;
            border-radius: 4px;
        }
    }

    > span {
        display: block;
        padding: 10px 0;
        @include border-bottom();

        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 0.9em;
    }
}

.client-result-actions {
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 4px;

        &:last-child {
            margin: 0;
        }
    }
}

// Client Add Page

#client-add {
    padding: 15px;

    label {
        font-size: 0.9em;
        color: $colour-text-dark;
    }
}

.client-text-form, .client-select-form {
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
    @include border-all(1px, $colour-border-dark);
    @include transition();

    &:focus {
        outline: none;
        @include border-all(1px, #000);
    }
}

#client-submit {
    padding: 10px 20px;
    border-radius: 4px;
}

// Media Queries

// -- Medium --
@media screen and (max-width: 63.9375em) {

    #client-search {
        margin-bottom: 15px;
    }

    .client-refine-result {
        padding-left: 0;
        padding-right: 15px;

        &:last-child {
            padding-right: 0;
        }
    }

    .client-result-info {
        padding: 0 0 15px 0;
        border: none;
        margin: 0 0 15px 0;
        @include border-bottom();
    }

}

// -- Small --
@media screen and (max-width: 39.9375em) {

    .client-refine-result {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}
