/*
    --------------------------------------------------------------------------
    File: _dashboard.scss
    Description:
        This file contains all files related to the main dashboard page
    --------------------------------------------------------------------------
*/

#dashboard {
    position: relative;
    left: 0;
    margin-left: 200px;
    @include transition();
}

// Quick Actions

#dashboard-actions, #dashboard-other {
    padding: 15px 0 0 0;

    h2 {
        margin: 0 0 15px 0;
        font-size: 1.3em;
        font-weight: 400;
        color: $colour-heading-dark;
    }
}

.quick-action {
    background: $background;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    @include transition();

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .qa-text span {
            color: $colour-main;
        }
    }
}

.qa-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;

    i {
        color: $colour-main;
        font-size: 2em;
    }
}

.qa-text {
    display: inline-block;
    vertical-align: middle;

    span {
        color: $colour-text-dark;
        font-size: 1.3em;
    }
}

#dashboard-overview {
    background: $background;
    padding: 15px;
    margin-bottom: 15px;
}

#dashboard-notifications {
    @extend #dashboard-overview;
}

// Search tips

.search-tips {
    padding: 15px;
    margin-top: 45px;
    background: $background-alt;

    h3 {
        font-weight: 500;
        margin: 0 0 15px 0;
        color: $colour-heading-dark;
    }

    p {
        font-weight: 300;
        font-size: 0.9em;
        color: $colour-text-dark;
        margin: 0 0 15px 0;
    }

    a {
        display: block;
        text-align: right;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Media Queries
@media screen and (max-width: 39.9375em) {

    #dashboard {
        margin: 0;

        &.active {
            left: 200px;
        }
    }

    .qa-text {
        span {
            font-size: 0.9em;
        }
    }

}
