/*
    --------------------------------------------------------------------------
    File: _dashboard.scss
    Description:
        This file contains all files related to the main dashboard page
    --------------------------------------------------------------------------
*/

#dashboard {
    margin-left: 90px;
}
