/*
    --------------------------------------------------------------------------
    File: _header.scss
    Description:
        This file contains all styles related to the header
    --------------------------------------------------------------------------
*/

#header {
    width: 100%;
    background: $background-alt;
    padding: 15px;
    @include border-bottom();
}

#header-page-title {
    float: left;

    h1 {
        line-height: 1em;
        font-size: 1.5em;
        font-weight: 300;
        margin: 3px 0 0 0;
        color: $colour-heading-dark;
    }
}

#header-user-actions {
    float: right;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 5px;
        font-size: 0.9em;
        font-weight: 700;
    }

    a {
        color: $colour-text-dark;
        text-decoration: none;

        &:hover {
            color: $colour-main;
        }
    }

    i {
        font-size: 0.9em;
        color: $colour-main;
    }
}

#page-navigation {
    padding: 0 15px;
    background: $background-alt;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        @include border-bottom(3px, $background-alt);

        &:hover, &.active {
            @include border-bottom(3px, $colour-main);
        }
    }

    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $colour-text-dark;
        font-size: 0.9em;
    }
}
