/*
    --------------------------------------------------------------------------
    File: _header.scss
    Description:
        This file contains all styles related to the header
    --------------------------------------------------------------------------
*/

#header {
    width: 100%;
    background: $background;
    padding: 15px;
    @include border-bottom();
}

#header-page-title {
    float: left;

    h1 {
        font-size: 1.3em;
        font-weight: 300;
        margin: 0;
    }
}

#header-user-actions {
    float: right;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 5px;
        font-size: 0.9em;
        cursor: pointer;
    }
}
