/*
    --------------------------------------------------------------------------
    File: _includes.scss
    Description:
        This file contains all site-wide constant styles or repeated styles
    --------------------------------------------------------------------------
*/

body, html, * {
    font-family: 'Roboto', sans-serif;
}

body {
    background: $background-alt-dark;

    &.active {
        overflow-x: hidden;
    }
}

// Set all rows to full width
.row {
    max-width: 100%;
}

// Buttons

.btn {
    background: $colour-main;
    color: #fff;
    transition: 0.5s ease all;
    border: none;
    cursor: pointer;

    &:hover {
        background: $colour-main-hover;
    }
}

.btn-dark {
    background: $background-dark;
    color: #fff;
    transition: 0.5s ease all;
    border: none;
    cursor: pointer;

    &:hover {
        background: darken($background-dark, 10%);
    }
}

.btn-warn {
    background: $colour-error;
    color: #fff;
    transition: 0.5s ease all;
    border: none;
    cursor: pointer;

    &:hover {
        background: darken($colour-error, 10%);
    }
}

// Borders

.rounded {
    border-radius: 4px;
}

// Shadows

.shadow-medium {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

// Dashboard block

.dashboard-block {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
}

// Required asterisk
.required {
    color: #ff0000;
}

.required-info {
    color: #ff0000;
    margin: 0 0 15px 0;
}
