/*
    --------------------------------------------------------------------------
    File: _login.scss
    Description:
        This file contains all of the login page styles
    --------------------------------------------------------------------------
*/

#login {
    position: absolute;
    background: $colour-main;
    background-image: linear-gradient(to top right,$colour-main,$colour-main-hover);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 450px;
    overflow: hidden;
}

#login-bg {
    z-index: 22;
    background-image: linear-gradient(to left,rgba(255, 255, 255, 0.3),rgba(255, 255, 255,0));
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 50%;
    transform: skewY(-20deg);
    opacity: .6;
    z-index: 0;

    &:before, &:after {
        content: '';
        position: absolute;
        top: -25%;
        left: 0;
        width: 50%;
        height: 50%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15),rgba(0,0,0,0.1));
    }

    &:after {
        top: 100%;
        left: auto;
        right: 0;
        height: 20%;
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0.50),rgba(0,0,0,0));
    }
}

#login-branding {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    padding-right: 500px;

    h1 {
        color: #fff;
        font-size: 4em;
    }
}

#login-panel {
    background: $background;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    max-width: 500px;
    padding: 50px;
    color: $colour-text-dark;

    h1 {
        font-weight: 300;
        margin: 0;
        color: $colour-heading-dark;
    }

    a {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        font-size: 0.85em;
        font-weight: 300;
    }
}

.login-input {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    font-size: 0.9em;
    @include transition();
    @include border-all();

    &:focus {
        outline: none;
        @include border-all(1px, $colour-main);
    }
}

.keep-login {
    display: block;
}

.login-submit {
    margin-top: 20px;
    padding: 10px 50px;
}

// Media Queries

@media screen and (max-width: 63.9375em) {

    #login {
        background: $background;
    }

    #login-bg {
        display: none;
    }

    #login-panel {
        left: 0;
        margin: 0 auto;
    }

    #login-branding {
        display: none;
    }

}
