/*
    --------------------------------------------------------------------------
    File: _mixins.scss
    Description:
        Defines mixin functions to be used in other scss files to keep SCSS DRY
    --------------------------------------------------------------------------
*/

// Border Mixins

@mixin border-all($size: 1px, $colour: $colour-border) {
    border: #{$size} solid #{$colour};
}

@mixin border-bottom($size: 1px, $colour: $colour-border) {
    border-bottom: #{$size} solid #{$colour};
}

@mixin border-left($size: 1px, $colour: $colour-border) {
    border-left: #{$size} solid #{$colour};
}

@mixin border-right($size: 1px, $colour: $colour-border) {
    border-right: #{$size} solid #{$colour};
}

// Transition Mixins

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}
